

/* PC */
@media (min-width: 64em){

}

/* Trên tablet & mobile các button >= 48px thì mới dễ bấm */
/* tablet & mobile */
@media (max-width:63.9375em){
    .btn{
        padding: 15px 16px;
    }

    #nav .subnav a {
        padding: 5px 15px;
    }

    .contact-info {
        font-size: 20px;
        line-height: 2;
    }

    .contact-form .form-control {
        padding: 15px;
    }
    #footer .socials-list {
        font-size: 32px;
    }
    #footer .socials-list a {
        margin: 0 8px;
    }
    #footer .copyright {
        margin: 25px 0;
        font-size: 16px;
        display: inline-block;
    }
}
/* tablet */
@media (min-width: 46.25em) and (max-width:63.9375em) {
    

}
/* Mobile */
@media (max-width: 46.1875em) {
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }

    .s-mt-8{
        margin-top: 8px !important;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav {
        position: inherit;
        background-color: bisque;
    }

    #nav .subnav a{
        padding: 5px 41px;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn{
        display: block;
    }

    #header .search-btn{
        display: none;
    }
    
    
    #content .member-img{
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;

    }

}
